.App {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  overflow: hidden;
  display: flex;
  background-color: #ededed;
  width: 95vw;
  height: 95vh;

  border-radius: 8px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

*{
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif !important;
}